calculator.asl.json
{
  "Comment": "A calculator that performs basic arithmetic operations using JSONata",
  "QueryLanguage": "JSONata",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Choice",
      "Comment": "Validate that inputs are numbers and operation is provided",
      "Choices": [
        {
          "Condition": "{% $type($states.input.x) != 'number' or $type($states.input.y) != 'number' %}",
          "Next": "InvalidInput"
        },
        {
          "Condition": "{% $states.input.operation = null %}",
          "Next": "InvalidInput"
        }
      ],
      "Default": "PerformCalculation"
    },
    "PerformCalculation": {
      "Type": "Pass",
      "Comment": "Execute the arithmetic operation using native JSONata operators",
      "Output": {
        "x": "{% $states.input.x %}",
        "y": "{% $states.input.y %}",
        "operation": "{% $states.input.operation %}",
        "result": "{% $states.input.operation = '+' ? $states.input.x + $states.input.y : $states.input.operation = '-' ? $states.input.x - $states.input.y : $states.input.operation = '*' ? $states.input.x * $states.input.y : $states.input.operation = '/' or $states.input.operation = 'รท' ? ($states.input.y != 0 ? $floor($states.input.x / $states.input.y) : 'ERROR') : 'INVALID_OP' %}"
      },
      "Next": "CheckCalculationResult"
    },
    "CheckCalculationResult": {
      "Type": "Choice",
      "Comment": "Verify the calculation was successful",
      "Choices": [
        {
          "Condition": "{% $states.input.result = 'ERROR' %}",
          "Next": "DivisionByZero"
        },
        {
          "Condition": "{% $states.input.result = 'INVALID_OP' %}",
          "Next": "InvalidOperation"
        }
      ],
      "Default": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "InvalidInput": {
      "Type": "Fail",
      "Error": "InvalidInput",
      "Cause": "Both x and y must be numbers, and operation must be provided"
    },
    "InvalidOperation": {
      "Type": "Fail",
      "Error": "InvalidOperation",
      "Cause": "Operation must be one of: +, -, *, /, รท"
    },
    "DivisionByZero": {
      "Type": "Fail",
      "Error": "DivisionByZero",
      "Cause": "Cannot divide by zero"
    }
  }
}
